--extra-index-url https://download.pytorch.org/whl/cpu

addict==2.4.0
hydra-core==1.3.5
iopath==0.1.10
matplotlib==3.11.0
numpy==1.26.4
openvino==2024.6.0
opencv-contrib-python==4.11.0.86
pillow==10.4.0
PyAudio==0.2.14
pycocotools==2.0.8
pyzmq==27.1.0
scipy==1.13.1
timm==0.9.16
tokenizers==0.15.2
torch==2.5.1+cpu
torchvision==0.20.1+cpu
transformers==4.37.2
typeguard==4.4.4
ultralytics==8.4.121
websockets==16.0
yapf==0.40.2
